.nav a {
  color: #F6EDA8;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}

.jumbotron {
  background-image:url("http://www.cameronbrooksphotography.com/Landscapes/Best-Prints/i-FQbvmMP/2/XL/BlueFlame-XL.jpg");
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  
}

.jumbotron .container {
  position: relative;
  top:100px;
}

.jumbotron h1 {
  color: #fff;
  font-size: 48px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.jumbotron p {
  font-size: 20px;
  color: #fff;
  
}




.bodyContent {
  
  display: none;


}


.bodyContent .show {
  display: inline;
  


}


body {
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
     color: #DFF3C1; 
    background-color: #674343;
}

#emailGroup1, #emailGroup4, #emailGroup7, #emailGroup10 {
  background-color: #358E8E;
}

#emailGroup2, #emailGroup5, #emailGroup8 {
  background-color: #0E6B82;

}

#emailGroup3, #emailGroup6, #emailGroup9 {
  background-color: #213D42;
}
